.flex-container {
  background: linear-gradient(45deg, #ffffff 0%, #444444 100%);
  border: 2px solid #000000;
  width: 450px;
  height: 300px;
  z-index: 1;
  padding: 5px;
}

.flex-item {
  width: 70px;
  height: 70px;
  font-size: 27px;
  font-weight: bold;
  background-color: #800080;
  color: #ffffff;
  text-align: center;
  z-index: 2;
  position: relative;
  margin: 5px;
}

/* Flex Container 1 */
.flex-container-1 {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  height: fit-content;
  padding-bottom: 100px;
}

/* Flex Container 2 */
.flex-container-2 {
  display: flex;
  flex-direction: row-reverse;
  flex-flow: row-reverse wrap;
  justify-content: right;
  height: fit-content;
  padding-bottom: 100px;
}

/* Flex Container 3 */
.flex-container-3 {
  height: 375px;
  display: flex;
  flex-direction: column-reverse;
  flex-flow: column-reverse wrap;
  align-items: flex-end;
}

/* Flex Container 4 */
.flex-container-4 {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;
  height: fit-content;
  padding-bottom: 200px;
}

/* Flex Container 5 */
.flex-container-5 {
  .flex-item {
    width: 45px;
    height: 80px;
  }

  :nth-child(2),
  :nth-child(8)
  {
    height: 110px;
  }

  :nth-child(4),
  :nth-child(5),
  :nth-child(7)
  {
    height: 55px;
  }

  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding-bottom: 200px;
}

/* Flex Container 6 */
.flex-container-6 {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: left;
  height: 300px;

  .flex-item {
    width: 30%;
  }
}


