.header {
    grid-area: header;
}

.article {
    grid-area: article;
}

.section {
    grid-area: section;
}

.aside {
    grid-area: aside;
}

.footer {
    grid-area: footer;
}

.header,
.article,
.aside,
.section,
.footer {
    background-color: purple;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.grid-container {
    display: grid;
    height: 600px;
    gap: 10px;
    grid-template-areas:
        'header'
        'article'
        'aside'
        'section'
        'footer';
    background-color: #bbc5f2;
    padding: 10px;
    margin-bottom: 25px;
}


.grid-container-1 {
    width: 1000px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    .header {
        grid-column-start: 0; grid-column-end: 6;
    }
    .aside {
        grid-column-start: 0; grid-column-end: 1;
        grid-row-start: 2; grid-row-end: 5;
    }
    .article {
        grid-column-start: 2; grid-column-end: 6;
        grid-row-start: 2; grid-row-end: 5;
    }
    .section {
        grid-column-start: 0; grid-column-end: 6;
        grid-row-start: 5; grid-row-end: 7;
    }
    .footer {
        grid-column-start: 0; grid-column-end: 6;
        grid-row-start: 7; grid-row-end: 9;
    }
}

.grid-container-2 {
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    .header {
        grid-column-start: 0; grid-column-end: 4;
    }
    .article {
        grid-column-start: 0; grid-column-end: 3;
        grid-row-start: 2; grid-row-end: 5;
    }
    .aside {
        grid-column-start: 3; grid-column-end: 4;
        grid-row-start: 2; grid-row-end: 5;
    }
    .section {
        grid-column-start: 0; grid-column-end: 4;
        grid-row-start: 5; grid-row-end: 7;
    }
    .footer {
        grid-column-start: 0; grid-column-end: 4;
        grid-row-start: 7; grid-row-end: 9;
    }
}

.grid-container-3 {
    width: 250px;
    grid-template-rows: repeat(9, 1fr);
    .header {
    }
    .article {
        grid-row-start: 2; grid-row-end: 5;
    }
    .section {
        grid-row-start: 5; grid-row-end: 8;
    }
    .aside {
        grid-row-start: 8; grid-row-end: 9;
    }
    .footer {
        grid-row-start: 9; grid-row-end: 10;
    }
}
